@media screen and (min-width: 850px) {
  .icon {
    width: 2.5rem;
  }

  #main__intro {
    font-size: medium;
  }

  .main__ascii-art {
    font-size: 2px;
  }

  .main {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  #footer__page-load-stats {
    font-size: medium;
  }

  .container > h2 {
    font-size: larger;
  }

  .header__search-bar {
    display: flex;
  }

  .custom-button {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 850px) {
  .icon {
    width: 1.5rem;
  }

  #main__intro {
    font-size: small;
  }

  .main {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .footer {
    margin: 1rem;
  }

  .container > h2 {
    font-size: small;
  }

  #footer__page-load-stats {
    font-size: smaller;
  }

  #footer__creds {
    font-size: medium;
  }

  .main__ascii-art {
    font-size: 3px;
    overflow-x: scroll;
  }

  .header__search-bar {
    display: none;
  }

  .custom-button {
    padding: 0.2rem 0.5rem;
    font-size: small;
  }

  .main__code-snippet {
    padding: 1rem!important;
    max-width: 70vw!important;
    overflow-x: scroll;
  }
}

@media screen and (orientation: portrait) and (max-width: 500px) {
  #footer__page-load-stats {
    font-size: x-small;
  }

  #footer__creds {
    font-size: small;
  }

  .container > h2 {
    font-size: small;
  }

  .icon {
    width: 1rem;
  }

  #main__intro {
    font-size: small;
  }

  .main {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .main__ascii-art {
    font-size: 3px;
    overflow-x: scroll;
  }

  .header__search-bar {
    display: none;
  }

  .main__code-snippet {
    font-size: smaller;
    overflow-x: scroll;
  }

  .custom-button {
    padding: 0.2rem 0.5rem;
    font-size: small;
  }
}
