/// FONTS
$base-font: 'M PLUS 1 Code', sans-serif;


/// BACKGROUNDS
$background-grey: rgba(199, 199, 199, 0.3);
$gray-shadow: -0.5em 0 1em gray;


/// OTHER
$base-radius: 2rem;
$smaller-radius: 1rem;
