@import "constants";

p,
span,
a,
button,
input
{
  font-family: $primary-font;
}

a {
  color: inherit;
}

input {
  border: none;
  border-radius: 0.375rem;

  &::placeholder {
    text-align: center;
  }
}
