@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&display=swap');
@import "constants";

//* {
//  border: #666666 dashed;
//}

.main__ascii-art {
  display: flex;
  justify-content: center;
  white-space: pre;
  width: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(10, [col-start] 1fr);
  grid-template-rows: repeat(20, [row-start] 5vh);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.header {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

.footer {
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 3rem;
  border-radius: $smaller-radius;
  background: $background-grey;
}

.form-control {
  text-overflow: ellipsis;
  width: 60%;
  line-height: 1.5;
  font-family: 'M PLUS 1 Code', sans-serif;
  background-color: $background-grey;
  border: 1px solid #ced4da;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.375rem;
}

.header__search-bar {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  flex-grow: 1;
  padding: 0 .5rem;
}

.custom-button {
  display: flex;
  white-space: nowrap;
  color: black;
  padding: 0.375rem 0.75rem;
  margin: 0 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid;
  cursor: pointer;
  border-radius: 0.375rem;
  background-color: transparent;
  font-weight: bolder;

  & a {
    text-decoration: none;
  }

  & :hover {
    opacity: 0.5;
  }
}

.footer__creds {
  margin-right: 2rem;
  white-space: nowrap;
}

.active {
  box-shadow: $gray-shadow;
  background: rgba(169, 169, 169, 0.3);
}

.fa {
  align-self: center;
  display: flex;
  margin-right: 1rem;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.footer__icons-bar {
  margin-left: 2rem;
  display: flex;
  justify-content: space-around;
}

.main__body-mock {
  white-space: nowrap;
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 2rem;
  border-radius: $smaller-radius;

  & b {
    text-decoration: line-through;
  }
}

.home-btn {
  display: flex;

  &:hover {
    opacity: 0.7;
  }
}

.main__code-snippet {
  background-color: $background-grey;
  border: 1px solid #999;
  padding: 2rem;
  font-size: medium;
  border-radius: $smaller-radius;
  overflow: scroll;
  box-shadow: $gray-shadow;
  white-space: pre;
  align-self: center;
  display: flex;
  max-width: 80vw;
}

