<a href="../../index.html" class="home-btn">
    <img src="../assets/img/home-icon.svg" style="cursor: pointer; width: 2rem" alt="home">
</a>

<div class="header__search-bar">
    <input
            type='text'
            placeholder='Tishka San-Loran visit na mne za sotku'
            spellcheck='false'
            class='form-control'
            onchange="onSearchBarSubmit(event)"
    />
</div>

<nav class="container" id="buttons-bar">
    <button class="custom-button" id="dora">
        <a data-link="dora" href="dora.html">
            Dora ASCII
        </a>
    </button>
    <button class="custom-button" id="source-code">
        <a data-link="source-code" href="source-code.html">
            Source code
        </a>
    </button>
    <button class="custom-button" id="index">
        <a href="index.html">
            Home
        </a>
    </button>
</nav>
